.container{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.title{
  text-align: center;
  font-size: var(--titleSize);
  margin-bottom: 40px;
  color: var(--darkBlue);
}

.show{
  display: flex;
}

.hide{
  display: none;
}